@page
@model StoreMarket.Pages.ItemsPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h1>Details</h1>

    <div>
        <h4>Item</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Item.ItemName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Item.ItemName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Item.ItemPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Item.ItemPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Item.ItemImage)
            </dt>
            <dd class="col-sm-10">
                <img src="/Images/@Model.Item.ItemImage" alt="Eagle" style="width:100px" />
                @*@Html.DisplayFor(model => model.Item.ItemImage)*@
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Item.Groups)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Item.Groups.GroupName)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Item.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>